$color-primary: #f95850;

$color-success: #7fcd91;
$color-success-dark: #08222F;
$color-easing: #ffae72;
$color-danger: #f95850;

$color-light: #8faabf;
$color-dark: #011627;
$color-dark-alternate: #001b31;

$color-text: #FDFFFC;

$color-white: #fff;
$color-black: #000;
